<div class="container">
    <div class="heading-standard-font">Our Services</div>    
    
    <div class="media">
        <div class="pull-left">
            <img class="service-image" src="../../../../wwwroot/Resources/services_marketing_100.png" />
            <br />
        </div>

        <div class="media-body">
            <div class="secondary-heading-standard-font">Marketing campaigns</div>
            <ul class="list-unstyled standard-font">
                <li>
                    Design and Implement customized online ad marketing campaigns
                </li>
                <li>
                    Campaigns across multiple channels
                </li>
                <li>
                    Leverage experience of handling campaigns for promienent brands
                </li>
            </ul>
        </div>
    </div>

    <div class="media">
        <div class="pull-left">
            <img class="service-image" src="../../../../wwwroot/Resources/services_branding_100.png" />
            <br />
        </div>

        <div class="media-body">
            <div class="secondary-heading-standard-font">Online Brand Presence</div>
            <ul class="list-unstyled standard-font">
                <li>
                    Websites branded with customized look and feel
                </li>
                <li>
                    Support for mobile and desktop
                </li>
                <li>
                    End to end service from conception, design, develop and publish
                </li>
                <li>
                    Leverage tips from proffesionals experienced at designing web assets for personal and small businesses
                </li>
            </ul>

        </div>
    </div>


</div>
