<div class="container">
    
    <div class="row margins-horizontal blog-standard-font">  

        <div class="row standard-font">

            <div class="col-md-12" id="blog1">

                <div class="media">
                
                    <div class="blog-heading-standard-font">
                        Why we do what we do ?
                    </div>
                    
                    <div class="media-body">
                        <div class="standard-font">
                            <p>
            Though technology has in general made lives better, it has left a lot of people and businesses especially small and medium ones is a dire situation. There is real shift happening in our society in terms of consumer reaction to technology and consumer spending because of it.
            Though new age technologies disrupted a lot of business they have at the same time given rise to new opportunities and we believe there is a growing need for small and medium business to view this shift and adapt to consumer trends, especially on how they view advertising on hyper local as well as global scale.
            Today Google and Facebook with their ubiquitous presence have captured almost 70% of the online Ad Spending. Though this has resulted in a great dent in traditional advertising industrial complex and categories that are heavily depended on it. It has given a new power tool for any and every small business to use these new mediums and effectively reach their future customers.
            Unlike traditional advertising industrial complex these new tools are giving the ability to accurately reach future customers at a cost and opportunity that was previously only available to big businesses. Now a small boutique across the street with no savvy technology nor huge investment can use these new medium and reach their current and future community and engage with them more effectively than ever.
            We at leap media believe that a lot of small/medium business can leverage this capacity and increase their business opportunity using our services. We have a team that has been using these tools for big brands very effectively and has the experience to create effective online ad campaign strategies using these tools that we think are the most effective.
                           </p>
                        </div>
                    </div>
                    <div class="blog-footer-font">
                        Published On: 10/13/2017
                    </div>
                </div>
            </div>

        </div>

     </div>
</div>
