<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <nav-menu></nav-menu>
        </div>
        
        <div class='col-sm-12 body-content'>
            <router-outlet></router-outlet>
        </div>
        
        <div class="col-sm-6 col-md-12 stick-bottom footer-center">
            
                <div class="row">

                    <div class="col-md-4">
                        <ul class="list-unstyled ">
                            <li><div><span class="standard-font">About</span></div></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><div><span class="standard-font">Contact</span></div></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><div><span class="standard-font">Blog</span></div></li>
                        </ul>
                    </div>

                </div>

                <!-- Copyright -->
                <div class="text-center">
                    <div class="text-kazan">
                        &copy; Leap Media, Inc.
                    </div>
                </div>
    
        </div>
    </div>
</div>
