<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <nav-menu></nav-menu>
        </div>
        
        <div class='col-sm-12 body-content'>
            <router-outlet></router-outlet>
        </div>
        
        <div class="col-sm-12 stick-bottom">
            <!-- Footer -->
            <div class="footer">
                <div class="row row-condensed">

                    <div class="col-md-3 col-md-offset-3">
                        <h5 class="standard-font mb15 bold-text">Company</h5>
                        <ul class="list-unstyled  standard-font">
                            <li>About</li>
                            <li>Contact</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3">
                        <h5 class=" standard-font mb15 bold-text">Discover</h5>
                        <ul class="list-unstyled  standard-font">
                            <li>Twitter</li>
                            <li>LinkedIn</li>
                            <li>Careers</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3">
                        <h5 class=" standard-font mb15 bold-text">More</h5>
                        <ul class="list-unstyled  standard-font">
                            <li>Research</li>
                            <li>Blog</li>
                        </ul>
                    </div>

                </div>

                <!-- Copyright -->
                <div class="text-center">
                    <div class="text-kazan">
                        &copy; Home, Inc.
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
