<div class='container'>

    <div class="row menu-font">

        <a [routerLink]="['/home']" class="link-reset">
            <img src="../../../../wwwroot/Resources/leap4.png" class="logoImage"/>
        </a>

        <ul class="pull-right list-unstyled menu-vertical" style="display:inline-block">
        
            <li class="pull-left mr20">
                <a [routerLink]="['/services']" class="link-reset">
                    Services
                </a>
            </li>

            <li class="pull-left mr20">
                <a [routerLink]="['/blog']" class="link-reset">
                    Blog
                </a>
            </li>

            <li class="pull-left">
                <a [routerLink]="['/contact']" class="link-reset menu-contact">
                    Contact
                </a>
            </li>

        </ul>

    </div>

    
</div>

