

.pull-right {
    float: right;
}

.pull-left {
    float:left;
}

.mr20 {
    margin-right:20px;
}

.link-reset {
    text-decoration: none;
    color: #565a5c;
}

.link-reset:hover {
    color: #ff5a5f;
}

.menu-font {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.menu-padding {
    padding:15px 0 0;
}

.logoImage {
    height:65px;
}

.menu-vertical {
    padding-top:25px;
    padding-bottom:15px;
}

.menu-contact {
    background-color: #f32153 !important;
    color: #FFF !important;
    letter-spacing: .085em;
    padding: 12.5px 17.46px;
    border: 1px solid #f32153;
    border-radius: 25px;
}

.menu-contact:hover {
    background-color: #FFF !important;
    color: #f32153 !important;
}