<div class="container">
    
    <div class="row make-text-center contact-standard-font">  
        <div class="make-inline contact-structure">
            <ul class="list-unstyled">
                <li>
                    <!--<span>Name*:</span>--> 
                    <input class="custom-text-input" type="text" value="Name"/>
                </li>
                    
                <li class="margin-top">
                    <!--<span>Phone*:</span>--> 
                    <input class="custom-text-input" type="text" value="Phone"/>
                </li>

                <li class="margin-top">
                    <!--<span>Email*:</span>--> 
                    <input class="custom-text-input" type="text" value="Email"/>
                </li>
                <li class="margin-top">
                    <!--<span>Yearly Revenue:</span>-->
                    <input class="custom-text-input" type="text" value="Company Name" />
                </li>

                <li class="margin-top">
                    <!--<span>Yearly Revenue:</span>--> 
                    <input class="custom-text-input" type="text" value="Yearly Revenue"/>
                </li>
                <li class="margin-top">
                    <button class="custom-button"><span>Request Free Quote</span></button>
                </li>
            </ul>
        </div>
    </div>

</div>
