.body-margins {
    margin-left:30px;
}
.make-inline {
    display: inline-block;
}
.make-text-center {
    text-align:center;
}

.margin-top {
    margin-top: 10px;
}

.custom-text-input {
    border: 1px solid #f32153;
    height: 22px;
    line-height: 32px;
    border-radius: 25px;
    height: 40px;
    width: 250px;
    padding: 15px;
    color:#82888a;
}

.custom-button {
    background-color: #f32153 !important;
    color: #FFF !important;
    padding: 12.5px 17.46px;
    border: 1px solid #f32153;
    border-radius: 25px;
}

.contact-standard-font {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
}