.body-margins {
    margin-left:30px;
}

.standard-font {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #82888a;
}

.resource-row-link {
    color: #1a2326;
    border: 1px solid transparent;
    margin: 0;
    padding: 16px 23px 16px 23px;
    position: relative;
    text-decoration: none;
    transition: all .3s;
    display: block;
}

.l-flex-column {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.border-set {
    border: 1px solid #D3D3D3;
}