<div class="container">
    
    <div class="row standard-font">  
        
        <div class="col-md-4">

            
                <div class="media padding-top-5 resource-row-link">

                    <div class="pull-left">
                        <br />
                    </div>

                    <div class="media-body margin-top-12 pading-bottom-10">
                        <div>WatchDog Non-Production: Watchdog runner current status for internal environments</div>
                    </div>

                </div>
            

        </div>
        
        <div class="col-md-4">

            
                <div class="media padding-top-5 resource-row-link">

                    <div class="pull-left">
                        <br />
                    </div>

                    <div class="media-body margin-top-12 pading-bottom-10">
                        <div>Watchdog Production: Watchdog runner current status for Engineering, Canary and Production Environments</div>
                    </div>

                </div>
            
        </div>
            
    </div>

</div>
