<div class="container">
    <div class="row standard-font">
        <div class="col-md-12">

            <div class="media padding-top-5">

                <div class="pull-left">
                    <br />
                </div>

                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Fusce lobortis, augue et egestas pulvinar, ligula purus vulputate justo, id fermentum justo tellus quis erat. Mauris sed quam convallis, bibendum ex a, aliquet tortor. Cras aliquet viverra ex at elementum. Cras ac tempor nunc.</div>
                </div>

            </div>

        </div>
    </div>

    <div class="row standard-font">

        <div class="col-md-12">
            <div class="media padding-top-5 resource-row-link">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Small Businesses</div>
                    <div class="standard-font">Our average Small Business client (1-10 employee company) spends in range of $750-12,000/month. This budget will generates at an average. 12-300 new customer leads for your company.</div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="media padding-top-5 resource-row-link">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Mid-size Companies</div>
                    <div class="standard-font">Our average Small Business client (11-50 employee company) spends in range of $3,000-$65,000/month. You can expect at an average 50-1,000 new customer leads for your company + consistent increase in brand awareness.</div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="media padding-top-5 resource-row-link">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Enterprises</div>
                    <div class="standard-font">Companies with 50+ employees usually have internal Digital Marketing departments too and hence their spend is managed collectively by our team and their internal marketing department.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row standard-font">
        
        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">Attract more customers, grow online, and increase your conversion with Pay-Per-Click Advertising and SEO. In 2017, we generated 120,000 annual leads for our clients from search engine marketing.</div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">Fastest growing segment for Business to Consumer (B2C) clients. Extremely effective to build brand recall. Sales cycle on Facebook is slightly slower but Per Sale Value is much higher vs Search.</div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">Extremely profitable for our Business to Business (B2B) clients.</div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">If you operate in health & beauty segment, Instagram marketing can deliver fastest results. It is trimmed down version of hiring a Brand Ambassador. We call it Social Media Influencers. Influence your target audience through their choice of Instagrammers.</div>
                </div>
            </div>
        </div>
    </div>

</div>
