<div class="container">
    <div class="row standard-font">
        <div class="col-md-12">

            <div class="media padding-top-5">
                <div class="pull-left">
                    <br />
                </div>

                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Google's share of the search ad market is supposed to grow to more than 80 percent by 2019.</div>
                    <div class="pull-right"><a class="quote-source-font" href="https://www.recode.net/2017/3/14/14890122/google-search-ad-market-share-growth" target="_blank">- eMarketer</a></div>
                </div>
            </div>

            <div class="media padding-top-5">
                <div class="pull-left">
                    <br />
                </div>

                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>72% of consumers prefer to find information on local merchants via search.</div>
                    <div class="pull-right"><a class="quote-source-font">- WebVisible Survey</a></div>
                </div>
            </div>

            <div class="media padding-top-5">
                <div class="pull-left">
                    <br />
                </div>

                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Google display campaigns reach 80% of global internet users.</div>
                    <div class="pull-right"><a class="quote-source-font">- Google Benchmarks and Insights</a></div>
                </div>
            </div>

            <div class="media padding-top-5">
                <div class="pull-left">
                    <br />
                </div>

                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Consumers exposed to display ads are, on average, 155% more likely to search for brand- and segment-specific terms.</div>
                    <div class="pull-right"><a class="quote-source-font">- Specific Media</a></div>
                </div>
            </div>
            
            <div class="media padding-top-5">
                <div class="pull-left">
                    <br />
                </div>

                <div class="media-body margin-top-12 pading-bottom-10">
                    <div>Google's dominance in search, especially mobile search, is largely coming from the growing tendency of consumers to turn to their smartphones to look up everything from the details of a product to directions. Google and mobile search as a whole will continue to benefit from this behavioral shift."</div>
                    <div class="pull-right"><a class="quote-source-font" href="http://adage.com/article/digital/google-facebook-digital-duopoly-stats-emarketer/308282/" target="_blank">- eMarketer</a></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row standard-font">

        <div class="col-md-12">
            <div class="media padding-top-5 resource-row-link">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="quote-source-font">Small Businesses</div>
                    <div class="standard-font">Our average Small Business client (1-10 employee company) spends in range of $750-12,000/month.</div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="media padding-top-5 resource-row-link">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="quote-source-font">Mid-size Companies</div>
                    <div class="standard-font">Our average Small Business client (11-50 employee company) spends in range of $3,000-$65,000/month.</div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="media padding-top-5 resource-row-link">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="quote-source-font">Enterprises</div>
                    <div class="standard-font">Companies with 50+ employees usually have internal Digital Marketing departments too and hence their spend is managed collectively by our team and their internal marketing department.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row standard-font">
        
        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">Attract more customers, grow online, and increase your conversion with Pay-Per-Click Advertising and SEO.</div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">Fastest growing segment for Business to Consumer (B2C) clients. Extremely effective to build brand recall. Sales cycle on Facebook is slightly slower but Per Sale Value is much higher vs Search.</div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">Extremely profitable for our Business to Business (B2B) clients.</div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media padding-top-5 resource-row-link border-set">
                <div class="pull-left">
                    <br />
                </div>
                <div class="media-body margin-top-12 pading-bottom-10">
                    <div class="standard-font">If you operate in health & beauty segment, Instagram marketing can deliver fastest results. It is trimmed down version of hiring a Brand Ambassador. We call it Social Media Influencers. Influence your target audience through their choice of Instagrammers.</div>
                </div>
            </div>
        </div>
    </div>


    </div>
